$logoPrimaryFont: 'Fredericka the Great', cursive
$logoSecondaryFont: 'Poiret One', cursive

.budgetItem
    border-bottom: gray 1px solid
    margin: 5px 0px
    padding: 5px 0px
    &:last-child
        border-bottom: none
    .remaining
        font-weight: bold
    .amount
        font-size: .75em
        font-weight: bold
        font-family: $logoSecondaryFont