@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poiret+One&display=swap');

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#App{
  padding: 15px;
  flex-grow: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.titleLink, a:active.titleLink, a:hover.titleLink{
  color: white;
  text-decoration: none;
  display: inline-block;
}

.title{
  display: inline-block;
}

.budget{
  font-family: 'Fredericka the Great', cursive;
}

.simple {
  font-family: 'Poiret One', cursive;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  min-height: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 10px;
}

#username {
  font-size: 0.7em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
